always-auth=true
@flowcode:registry=https://flowcode.jfrog.io/artifactory/api/npm/fc-npm/
//flowcode.jfrog.io/artifactory/api/npm/fc-npm/:_password=${JFROG_FC_NPM_PASSWORD_B64}
//flowcode.jfrog.io/artifactory/api/npm/fc-npm/:username=${JFROG_FC_NPM_USERNAME}
//flowcode.jfrog.io/artifactory/api/npm/fc-npm/:email=admin@admin.com
//flowcode.jfrog.io/artifactory/api/npm/fc-npm/:always-auth=true